body{
    height: 100%;
    background: #e6ecf0;
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll;
}
div{
    display: block;
    padding: 10px;
}
header{
    height: 100%;
    text-align: center;
    width: auto;
    border: 1px solid rgba(0,0,0,0.1);
}

nav{
    height: 100%;
    text-align: center;
    width: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    position:relative;
}
ul li{
    float: left;

}
ul>li .nav-icons{
    float: left;
    margin: 11px 0 0 10px;
    width: 23px;
    height: 23px;
    color: inherit;
    background: transparent;
    display: inline-block;
    font-style: normal;
    vertical-align: baseline;
    position: relative;
}

ul>li>a .text {
    float: left;
    margin-left: 3px;
    margin-top: 17px;
    padding: 0;
}
ul>li>a {
    display: block;
    font-size: 13px;
    font-weight: bold;
    height: 46px;
    line-height: 1;
    padding: 0 14px 0 4px;
}
ul li a {
    position: relative;
    font-size: 12px;
}
a {
    color: #66757f;
    text-decoration: none;
}
a:hover,a:focus,a:active{
    color: #1DA1F2;
}
.container{

}
.wrapper{
    position: relative;
    width: 888px;
    margin: 0 auto;
    padding: 0px 10px;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    background-clip: padding-box;
}
input[type=text], input[type=password] {
    width: 60%;
    max-width: 280px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 22px;
    padding: 6px;
}

input[type=submit]{
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    color: #fff;
    border-radius: 100px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}
